body {
  @extend %font-family;
  background-color: #2c2c36;
  color: #fff;
}

main {
  max-width: 900px;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}